<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyjz.sitemanage.dao.MeteorSurveySiteMapper" >
  <resultMap id="BaseResultMap" type="com.zyjz.sitemanage.entity.MeteorSurveySite" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="meteor_name" property="meteorName" jdbcType="VARCHAR" />
    <result column="coding" property="coding" jdbcType="VARCHAR" />
    <result column="equip_name" property="equipName" jdbcType="VARCHAR" />
    <result column="equip_coding" property="equipCoding" jdbcType="VARCHAR" />
    <result column="sim_clip" property="simClip" jdbcType="VARCHAR" />
    <result column="sim_clip_operator" property="simClipOperator" jdbcType="VARCHAR" />
    <result column="build_time" property="buildTime" jdbcType="TIMESTAMP" />
    <result column="longitude_latitude" property="longitudeLatitude" jdbcType="VARCHAR" />
    <result column="elevation" property="elevation" jdbcType="DECIMAL" />
    <result column="administrative_coding" property="administrativeCoding" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="dynamic_id" property="dynamicId" jdbcType="VARCHAR" />
    <result column="monitor_equip_name" property="monitorEquipName" jdbcType="VARCHAR" />
    <result column="monitor_address" property="monitorAddress" jdbcType="VARCHAR" />
    <result column="monitor_image" property="monitorImage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
 <sql id="Base_Column_List" >
    id, meteor_name, coding, equip_name, equip_coding, sim_clip, sim_clip_operator, build_time, 
    longitude_latitude, elevation, administrative_coding, create_time, update_time, dynamic_id, 
    monitor_equip_name, monitor_address, monitor_image
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from meteor_survey_site
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAdministrativeCoding" resultMap="BaseResultMap" parameterType="java.util.List" >
  	select 
  	<include refid="Base_Column_List" />
  	from meteor_survey_site 
  	where administrative_coding in
  	 <foreach collection="list" index="index" item="administrativeCoding" open="(" separator="," close=")">  
	        #{administrativeCoding} 
	 </foreach>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from meteor_survey_site
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.zyjz.sitemanage.entity.MeteorSurveySite" >
    insert into meteor_survey_site (id, meteor_name, coding, 
      equip_name, equip_coding, sim_clip, 
      sim_clip_operator, build_time, longitude_latitude, 
      elevation, administrative_coding, create_time, 
      update_time, dynamic_id, monitor_equip_name, 
      monitor_address, monitor_image)
    values (#{id,jdbcType=VARCHAR}, #{meteorName,jdbcType=VARCHAR}, #{coding,jdbcType=VARCHAR}, 
      #{equipName,jdbcType=VARCHAR}, #{equipCoding,jdbcType=VARCHAR}, #{simClip,jdbcType=VARCHAR}, 
      #{simClipOperator,jdbcType=VARCHAR}, #{buildTime,jdbcType=TIMESTAMP}, #{longitudeLatitude,jdbcType=VARCHAR}, 
      #{elevation,jdbcType=DECIMAL}, #{administrativeCoding,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dynamicId,jdbcType=VARCHAR}, #{monitorEquipName,jdbcType=VARCHAR}, 
      #{monitorAddress,jdbcType=VARCHAR}, #{monitorImage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyjz.sitemanage.entity.MeteorSurveySite" >
  <selectKey keyColumn="id" keyProperty="id" order="BEFORE" resultType="java.lang.String">
  		
  		SELECT UUID()
  	</selectKey>
    insert into meteor_survey_site
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="meteorName != null" >
        meteor_name,
      </if>
      <if test="coding != null" >
        coding,
      </if>
      <if test="equipName != null" >
        equip_name,
      </if>
      <if test="equipCoding != null" >
        equip_coding,
      </if>
      <if test="simClip != null" >
        sim_clip,
      </if>
      <if test="simClipOperator != null" >
        sim_clip_operator,
      </if>
      <if test="buildTime != null" >
        build_time,
      </if>
      <if test="longitudeLatitude != null" >
        longitude_latitude,
      </if>
      <if test="elevation != null" >
        elevation,
      </if>
      <if test="administrativeCoding != null" >
        administrative_coding,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="dynamicId != null" >
        dynamic_id,
      </if>
      <if test="monitorEquipName != null" >
        monitor_equip_name,
      </if>
      <if test="monitorAddress != null" >
        monitor_address,
      </if>
      <if test="monitorImage != null" >
        monitor_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="meteorName != null" >
        #{meteorName,jdbcType=VARCHAR},
      </if>
      <if test="coding != null" >
        #{coding,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="equipCoding != null" >
        #{equipCoding,jdbcType=VARCHAR},
      </if>
      <if test="simClip != null" >
        #{simClip,jdbcType=VARCHAR},
      </if>
      <if test="simClipOperator != null" >
        #{simClipOperator,jdbcType=VARCHAR},
      </if>
      <if test="buildTime != null" >
        #{buildTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitudeLatitude != null" >
        #{longitudeLatitude,jdbcType=VARCHAR},
      </if>
      <if test="elevation != null" >
        #{elevation,jdbcType=DECIMAL},
      </if>
      <if test="administrativeCoding != null" >
        #{administrativeCoding,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dynamicId != null" >
        #{dynamicId,jdbcType=VARCHAR},
      </if>
      <if test="monitorEquipName != null" >
        #{monitorEquipName,jdbcType=VARCHAR},
      </if>
      <if test="monitorAddress != null" >
        #{monitorAddress,jdbcType=VARCHAR},
      </if>
      <if test="monitorImage != null" >
        #{monitorImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update meteor_survey_site
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.meteorName != null" >
        meteor_name = #{record.meteorName,jdbcType=VARCHAR},
      </if>
      <if test="record.coding != null" >
        coding = #{record.coding,jdbcType=VARCHAR},
      </if>
      <if test="record.equipName != null" >
        equip_name = #{record.equipName,jdbcType=VARCHAR},
      </if>
      <if test="record.equipCoding != null" >
        equip_coding = #{record.equipCoding,jdbcType=VARCHAR},
      </if>
      <if test="record.simClip != null" >
        sim_clip = #{record.simClip,jdbcType=VARCHAR},
      </if>
      <if test="record.simClipOperator != null" >
        sim_clip_operator = #{record.simClipOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.buildTime != null" >
        build_time = #{record.buildTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.longitudeLatitude != null" >
        longitude_latitude = #{record.longitudeLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.elevation != null" >
        elevation = #{record.elevation,jdbcType=DECIMAL},
      </if>
      <if test="record.administrativeCoding != null" >
        administrative_coding = #{record.administrativeCoding,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dynamicId != null" >
        dynamic_id = #{record.dynamicId,jdbcType=VARCHAR},
      </if>
      <if test="record.monitorEquipName != null" >
        monitor_equip_name = #{record.monitorEquipName,jdbcType=VARCHAR},
      </if>
      <if test="record.monitorAddress != null" >
        monitor_address = #{record.monitorAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.monitorImage != null" >
        monitor_image = #{record.monitorImage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update meteor_survey_site
    set id = #{record.id,jdbcType=VARCHAR},
      meteor_name = #{record.meteorName,jdbcType=VARCHAR},
      coding = #{record.coding,jdbcType=VARCHAR},
      equip_name = #{record.equipName,jdbcType=VARCHAR},
      equip_coding = #{record.equipCoding,jdbcType=VARCHAR},
      sim_clip = #{record.simClip,jdbcType=VARCHAR},
      sim_clip_operator = #{record.simClipOperator,jdbcType=VARCHAR},
      build_time = #{record.buildTime,jdbcType=TIMESTAMP},
      longitude_latitude = #{record.longitudeLatitude,jdbcType=VARCHAR},
      elevation = #{record.elevation,jdbcType=DECIMAL},
      administrative_coding = #{record.administrativeCoding,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      dynamic_id = #{record.dynamicId,jdbcType=VARCHAR},
      monitor_equip_name = #{record.monitorEquipName,jdbcType=VARCHAR},
      monitor_address = #{record.monitorAddress,jdbcType=VARCHAR},
      monitor_image = #{record.monitorImage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyjz.sitemanage.entity.MeteorSurveySite" >
    update meteor_survey_site
    <set >
      <if test="meteorName != null" >
        meteor_name = #{meteorName,jdbcType=VARCHAR},
      </if>
      <if test="coding != null" >
        coding = #{coding,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null" >
        equip_name = #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="equipCoding != null" >
        equip_coding = #{equipCoding,jdbcType=VARCHAR},
      </if>
      <if test="simClip != null" >
        sim_clip = #{simClip,jdbcType=VARCHAR},
      </if>
      <if test="simClipOperator != null" >
        sim_clip_operator = #{simClipOperator,jdbcType=VARCHAR},
      </if>
      <if test="buildTime != null" >
        build_time = #{buildTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitudeLatitude != null" >
        longitude_latitude = #{longitudeLatitude,jdbcType=VARCHAR},
      </if>
      <if test="elevation != null" >
        elevation = #{elevation,jdbcType=DECIMAL},
      </if>
      <if test="administrativeCoding != null" >
        administrative_coding = #{administrativeCoding,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dynamicId != null" >
        dynamic_id = #{dynamicId,jdbcType=VARCHAR},
      </if>
      <if test="monitorEquipName != null" >
        monitor_equip_name = #{monitorEquipName,jdbcType=VARCHAR},
      </if>
      <if test="monitorAddress != null" >
        monitor_address = #{monitorAddress,jdbcType=VARCHAR},
      </if>
      <if test="monitorImage != null" >
        monitor_image = #{monitorImage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyjz.sitemanage.entity.MeteorSurveySite" >
    update meteor_survey_site
    set meteor_name = #{meteorName,jdbcType=VARCHAR},
      coding = #{coding,jdbcType=VARCHAR},
      equip_name = #{equipName,jdbcType=VARCHAR},
      equip_coding = #{equipCoding,jdbcType=VARCHAR},
      sim_clip = #{simClip,jdbcType=VARCHAR},
      sim_clip_operator = #{simClipOperator,jdbcType=VARCHAR},
      build_time = #{buildTime,jdbcType=TIMESTAMP},
      longitude_latitude = #{longitudeLatitude,jdbcType=VARCHAR},
      elevation = #{elevation,jdbcType=DECIMAL},
      administrative_coding = #{administrativeCoding,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dynamic_id = #{dynamicId,jdbcType=VARCHAR},
      monitor_equip_name = #{monitorEquipName,jdbcType=VARCHAR},
      monitor_address = #{monitorAddress,jdbcType=VARCHAR},
      monitor_image = #{monitorImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>